* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
}

@font-face {
  font-family: 'FacultyGlyphic';
  src: url('../fonts/FacultyGlyphic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo07';
  src: url('../fonts/FoglihtenNo07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo07calt';
  src: url('../fonts/FoglihtenNo07calt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Blur effect */

.reveal {
  opacity: 0;
  filter: blur(12px);
  transform: translateY(40px);
  transition: 
    opacity 1s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.reveal-ui {
  opacity: 0;
  filter: blur(6px); /* less blur than text */
  transform: translateY(40px);
  transition: 
    opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-ui.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Blur effect end */

/* Navbar styles */

#navbar {
  width: 100%;
  top: -210px;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  transition: top 0.4s;
  background-color: #18052F;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navbar .link {
  display: block;
  color: #A2A3DC;
  padding: 14px 14px;
  text-decoration: none;
  font-family: 'FacultyGlyphic', sans-serif;
}

#logo {
  float: left;
}

#aboutUs {
  float: right;
  transition: color 0.3s ease;
}

#exploreMore {
  float: right;
  transition: color 0.3s ease;
}

#aboutUs:hover {
  color: rgb(102, 102, 180);
}

#exploreMore:hover {
  color: rgb(102, 102, 180);
}

/* Navbar styles end */

/* Header styles */

#header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header styles end */

/* Main content styles */

#mainContent {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    color: #A2A3DC;
    text-align: center;
    flex-direction: row;
    background-color: #18052F;
    font-family: 'FacultyGlyphic', sans-serif;
}

#mttHeader {
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
}

.teamMember {
    width: 50%;
    padding: 20px;
}

.teamMember h2 {
    font-size: 28px;
    font-family: 'FacultyGlyphic', sans-serif;
}

/* Main content styles end */

/* Footer styles */

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#footer h1 {
  text-align: center;
  font-family: 'FacultyGlyphic', sans-serif;
}

#footerDivider {
  width: 80%;
  height: 1px;
  margin: 20px 0;

  background: linear-gradient(
  to right,
  transparent 0%,
  #A2A3DC 50%,
  transparent 100%
);
}

#socialMediaContainer {
  display: flex;
  gap: 20px;
}

.socialMediaIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

#iconCredit {
  margin-top: 30px;
  color: gray;
  font-family: 'FacultyGlyphic', sans-serif;
}

/*// Social media icons //*/

#tiktokIcon {
  background-image: url('../assets/tik-tok.svg');
}

#twitterIcon {
  background-image: url('../assets/x-twitter.svg');
}

#instagramIcon {
  background-image: url('../assets/instagram.svg');
}

#youtubeIcon {
  background-image: url('../assets/youtube.svg');
}

#redditIcon {
  background-image: url('../assets/reddit.svg');
}

#facebookIcon {
  background-image: url('../assets/facebook.svg');
}

/*// Social media icons end //*/

/* Media queries */

@media screen and (max-width: 750px){
    .teamMember {
        width: 100%;
    }
}

@media screen and (max-width: 485px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}