* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'FacultyGlyphic';
  src: url('../fonts/FacultyGlyphic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo07';
  src: url('../fonts/FoglihtenNo07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo07calt';
  src: url('../fonts/FoglihtenNo07calt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Navbar styles */

#navbar {
  width: 100%;
  top: -210px;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  transition: top 0.3s;
  background-color: #18052F;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navbar .link {
  display: block;
  color: #A2A3DC;
  padding: 14px 14px;
  text-decoration: none;
  font-family: 'FacultyGlyphic', sans-serif;
}

#logo {
  float: left;
}

#aboutUs {
  float: right;
  transition: color 0.3s ease;
}

#exploreMore {
  float: right;
  transition: color 0.3s ease;
}

#aboutUs:hover {
  color: rgb(102, 102, 180);
}

#exploreMore:hover {
  color: rgb(102, 102, 180);
}

/* Navbar styles end */

/* Header styles */

#header {
  position: relative;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerDimmer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
}

#header h1 {
  position: relative;
  color: #A2A3DC;
  font-size: 70px;
  text-align: center;
  font-family: 'FoglihtenNo07calt', serif;
}

#headerDivider {
  position: relative;
  width: 30%;
  height: 2px;
  margin-top: 15px;
  background: linear-gradient(
  to right,
  transparent 0%,
  #A2A3DC 50%,
  transparent 100%
  );
}

#header h2 {
  position: relative;
  color: #A2A3DC;
  text-align: center;
  margin-top: 15px;
  max-width: 700px;
  font-family: 'FacultyGlyphic', sans-serif;
  font-weight: lighter;
}

#storeLink{
  z-index: 1;
  margin-top: 60px;
  text-decoration: none;
  background-color: #210341;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #A2A3DC;
  transition: 0.3s ease;
}

#storeLink h1 {
  margin: 0;
  color: #A2A3DC;
  padding: 15px 110px;
  font-size: 40px;
  transition: 0.3s ease;
  font-family: 'FacultyGlyphic', sans-serif;
}

#storeLink:hover {
  background-color: rgb(20, 3, 45);
  border-color: rgb(132, 132, 210);
}

#storeLink:hover h1 {
  color: rgb(122, 122, 200);
}

/* Header styles end */

/* Main content styles */
 
#mainContent {
  display: block;
  color: #A2A3DC;
  font-family: 'FacultyGlyphic', sans-serif;
}

.wideColumn{
  flex: 7;
  padding: 60px 150px;
  text-align: center;
}

.narrowColumn{
  flex: 3;
  padding: 60px;
}

.row{
  display: flex;
  width: 100%;
}

.columnDivider {
  margin: 8px;
  margin-left: 20%;
  width: 60%;
  height: 1px;

  background: linear-gradient(
  to right,
  transparent 0%,
  #A2A3DC 50%,
  transparent 100%
);
}

.rowType1 {
  background-color: #210341;
}

.rowType2 {
  background-color: #18052F;
}

/* Main content styles end */

/* Footer styles */

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#footer h1 {
  text-align: center;
  font-family: 'FacultyGlyphic', sans-serif;
}

#footerDivider {
  width: 80%;
  height: 1px;
  margin: 20px 0;

  background: linear-gradient(
  to right,
  transparent 0%,
  #A2A3DC 50%,
  transparent 100%
);
}

#socialMediaContainer {
  display: flex;
  gap: 20px;
}

.socialMediaIcon {
  width: 40px;
  height: 40px;
  background-color: white; /* placeholder */
  border-radius: 50%;
}

/* Footer styles end */

/* Media queries */

@media screen and (min-height: 1081px) {
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  #header h1{
    font-size: 85px;
  }

  #header h2{
    max-width: 650px;
  }

  #storeLink h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 1200px) {
  .wideColumn, .narrowColumn {
    padding: 60px;
  }

  .wideColumn {
    flex: 6;
  }

  .narrowColumn {
    flex: 4;
  }
}
@media screen and (max-width: 600px) {
  #header h2 {
    max-width: 350px;
  }

  .wideColumn, .narrowColumn {
    padding: 20px;
    flex: 10;
  }

  .row {
    flex-direction: column;
  }

  .wideColumn {
    order: 1;
  }

  .narrowColumn {
    order: 2;
  }
}

@media screen and (max-width: 485px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #header h1 {
    font-size: 50px;
  }

  #header h2 {
    max-width: 300px;
    font-size: 20px;
  }

  #storeLink h1 {
    padding: 15px 60px;
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  #header h1 {
    font-size: 40px;
  }

  #header h2 {
    max-width: 250px;
    font-size: 18px;
  }

  #storeLink h1 {
    padding: 15px 40px;
    font-size: 25px;
  }
}

/* Media queries end */